.sectionWrapper {
  position: relative;
  width: 100%;
  display: block;
  isolation: isolate;
}

.sectionBgIllustration {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 400px;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.sectionBgIllustration svg {
  width: 100% !important;
  height: 100% !important;
  min-height: 400px;
  display: block;
}

.sectionContent {
  position: relative;
  z-index: 1;
  width: 100%;
}
